@model ProductModel
@{
    ViewData["Title"] = "EditProduct";
}

<h1>EditProduct</h1>
<form asp-controller="Admin" asp-action="EditProduct" method="post" enctype="multipart/form-data">
<div class="row">
    
        <div class="col-8">

            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="mb-3">
                <label class="form-label">Product Name</label>
                <input type="text" name="name" value="@Model.Name" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea name="description" class="form-control" rows="5" cols="30">@Model.Description</textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">Price</label>
                <input type="text" name="price" value="@Model.Price" class="form-control">
            </div>

            @for (int i = 0; i < Model.Images.Count; i++)
            {
                <div class="mb-3">
                    <label class="form-label">Images</label>
                    <input type="hidden" name="ImageUrl" value="@Model.Images[i].ImageUrl" />
                    <img src="~/img/@Model.Images[i].ImageUrl" width="80" id="imgPreview" />
                    <input type="file" name="files" value="@Model.Images[i].ImageUrl" class="form-control">
                </div>
            }

            <div class="mb-3 col-3">
                <input type="submit" value="Save Product" class="btn btn-primary">
            </div>


        </div>
        <div class="col-4">
            @foreach (var item in (List<Category>)ViewBag.Categories)
            {
                <div class="form-check">
                    <input name="categoryIds"
                           class="form-check-input"
                           type="checkbox"
                           value="@item.Id"
                           id="category@(item.Id)" @(Model.SelectedCategories.Any(i => i.Id == item.Id) ? "checked" : "")>
                    <label class="form-check-label">
                        @item.Name
                    </label>
                </div>
            }
        </div>
   
</div>

</form>